header {
  flex: none;
  text-align: center;
}

#preview-area {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  width: 100%;
  
  #editor,
  #preview {
    flex: 1 0 50%;
    display: inline-block;
    overflow-y: auto;
    justify-content: stretch;
  }
}

footer {
  flex: none;
}